.solutionBlock {
    position: relative;
    padding: 20px;
    gap: 10px;
    width: 297px;
    margin-bottom: 20px;

    &:hover {
        background: #989898;
        color: #ffffff;
        border-radius: 20px;
        padding: 20px;

        .solutionBlock__image {
            background: url('./images/InvestingWhite.svg');
        }
    }

    .solutionBlock__image {
        content: '';
        position: absolute;
        height: 36px;
        width: 36px;
        left: 20px;
        top: 25px;
        background: url('./images/Investing.svg');
    }

    .solutionBlock__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #000000;
        padding-left: 74px;
    }

    .solutionBlock__description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }

    .solutionBlock__header {
        display: flex;
    }

    .solutionBlock__body {
        padding-left: 74px;
        margin-top: 4px;
        position: relative;

        &:before {
        }
    }
}
