body {
    font-family: 'Roboto';
    font-style: normal;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

section {
    padding-top: 70px;
    margin: 0 auto;
    max-width: 1440px;
}