:root {
    --gray: #898989;
    --gray-2: #787878;
    --gray-3: #b0b0b0b0;
    --gray-4: #F5F5F5;
    --gray-5: #E2E2E2;
    --gray-6: #585858;
    --gray-7: #D9D9D9;
    --gray-8: #DDDDDD;
    --gray-9: #979797;
    --gray-10: #F0F0F0;
    --gray-11: #9B9B9B;
    --gray-12: #989898;
    --gray-13: #F4F4F4;
    --black: #000;
    --white: #FFF;
    --white-2: #F3F3F3;
    --blue: #00aeef;
}