.menu {
    display: flex;
    padding-top: 12px;

    .menu__list {
        padding-right: 57px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }   
}