.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 0px;
    gap: 10px;
    width: fit-content;

    min-width: 250px;
    min-height: 50px;

    background: #989898;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    text-transform: uppercase;

    color: #ffffff;
}

.button__icon {
    height: 13.15px;
    width: 22.43px;
}
