.languagePicker {
  position: relative;
  width: 60px;
  height: 36px;
  background: #F5F5F5;
  align-items: center;
  padding: 8px 14px 8px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.languagePicker__chosenValue {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.languagePicker__valuesContainer {
  position: absolute;

  top: 38px;
  left: 0;
  width: 100%;
  border-radius: 8px;
  background: #F5F5F5;
  overflow: hidden;
  padding: 8px 0;
  animation: ease fade-in 0.2s;
}

.languagePicker__value {
  width: 100%;
  height: 26px;
  padding: 3px 10px;
  font-size: 14px;
}

.languagePicker__value:hover {
  background: #E2E2E2;
}

.arrow {
  width: 12.8px;
  font-size: 8px;
  line-height: 8px;
  transition: ease all 0.2s;
}

.opened {
  transform: rotate(180deg) translateY(1px);
}

@keyframes fade-in {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}